/**{*/
  /*background-color: rgba(0,0,0,.1);*/
/*}*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}

.main-navigation {
  position: fixed;
  top:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:70px;
  background-color: black;
  z-index: 10;
}
.main-navigation .menus{
  width:750px;
  height:70px;
  text-align: center;
  line-height: 70px;
}
.main-navigation .menus li{
  width:13%;
  height:100%;
}
.main-navigation .menus li a{
  display: inline-block;
  font-size: 20px;
  color: #e3e3e3;
  text-decoration: none;
}
.main-navigation .menus li a:hover{
  color: #52e2c0;
}
.main-navigation .dropdownmenus{
  width:100px;
  height:0;
  overflow: hidden;
  margin-top: -3px;
  background-color: black;
}
.main-navigation .dropdownmenus li{
  width:100%;
  height:20%;
}
.main-navigation .dropdownmenus li a{
  display: block;
  height: 100%;
  width:100%;
  text-align: center;
  line-height: 100%;
  /*font-size: 90%;*/
  padding: 1px;
}
/*倒三角*/
.default-triangle{
  position: relative;
  top: -3px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #e3e3e3;
}
/*正三角*/
.active-triangle{
  position: relative;
  top: -3px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #e3e3e3;
}

.banner{
  position: relative;
  min-width:800px;
  max-width: 1600px;
  height:480px;
  margin:70px auto;
}
.show{
  display: block;
}
.banner ul{
  width: 100%;
  height: 100%;
}
/*.banner .slideEle {*/
  /*position: absolute;*/
  /*display: none;*/
  /*width: 100%;*/
  /*height:100%;*/
/*}*/
.banner .auto-box {
  position: relative;
  width:1500px;
  margin: 0 auto;
}
.banner .auto-box .banner-title{
  position: absolute;
  width:258px;
  height:413px;
  background-color: rgba(0,0,0,.4);
  bottom: 25px;
  right:0;
  border: 1px solid #999;
  z-index:3;
}
.banner .auto-box .banner-title li{
  text-align: right;
  line-height: 30px;
}
.banner .auto-box .banner-title li a{
  display: inline-block;
  width:258px;
  padding: 0 8px 0 0;
  font-size: 14px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-wrapper{
  min-width:800px;
  max-width: 1600px;
  margin: 0 auto;
}
.index-box{
  border-bottom: 8px solid #e3e3e3;
  margin-top: 35px;
}
.index-box .title-box{
  width:100%;
  height:70px;
  padding: 34px 0 16px 0;
}
.index-box .title-box h3{
  margin: 0;
  text-align: center;
  line-height: 23.5px;
}
.index-box .title-box ul li {
  padding: 0 19px;
  text-align: center;
  line-height: 18px;
  border-right: 3px dashed gray;
}
.index-box .title-box ul li:first-child{
  border-right: 0;
}
.index-box .title-box ul li a{
  font-size: 18px;
  color: #222222;
  text-decoration: none;
}
.index-box .title-box ul li a:hover{
  color: #52e2c0;
}
.index-box .title-box ul li:last-child a{
  color: #52e2c0;
}
.index-box .line{
  width:100%;
  height:3px;
  background-color: #e3e3e3;
}

.content-wrapper .content-box{
  position: relative;
  width:100%;
  height:420px;
  padding-top: 17px;
}
.content-wrapper .content-box .first-container{
  width:470px;
  height:323px;
  float: left;
}
.content-box .mv-x2,.content-box .mv-list{
  width:230px;
  /*height:370px;*/
  float: left;
  margin-left: 50px;
}
.content-box .mv-x2 .mv-one{
  width:100%;
  height:50%;
}
.content-box .mv-x2 .mv-one img{
  width:100%;
}
.content-box .mv-x2 .mv-one a h5{
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-box .mv-x2 .mv-one a p{
  color: #a4a4a4;
}
.content-box .mv-x2 .mv-one a:hover{
  text-decoration: none;
  color: #52e2c0;
}
/*内容区中的单行盒子*/
.content-box-oneline{
  padding-top: 17px;
  height:260px;
}
.content-box-oneline .mv-list{
  width:300px;
  float: left;
  margin-left: 25px;
}
.content-box-oneline .mv-list:first-child{
  margin-left: 0;
}
.content-box-oneline img{
  width:100%;
}
.content-box-oneline h5{
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-box-oneline p{
  color: #a4a4a4;
}
.content-box-oneline a:hover{
  text-decoration: none;
  color: #52e2c0;
}
/*底部*/
.main-footer{
  min-width: 1000px;
  height:200px;
  line-height: 22px;
  text-align: center;
}
.main-footer .footer-link{
  padding: 35px 0 30px;
  color: #666;
  font-size: 20px;
}
.main-footer .footer-link a{
  width:100px;
  padding: 0 20px;
  color: #666;
  border-right: 3px dashed gray;
}
.main-footer .footer-link a:hover{
  text-decoration: none;
  color: #52e2c0;
}
.main-footer .footer-link a:last-child{
  border-right: none;
}
.main-footer .footer-copy{
  color: #999;
}
.main-footer .footer-copy a{
  color: #999;
}
.return-top{
  position: fixed;
  display:none;
  *display:inline;
  *zoom:1;
  right: 20px;
  bottom: 100px;
}
.return-top .return-icon{
  /*position: absolute;*/
  display: block;
  right:0;
  bottom: 0;
}
